*{ 
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  width: 80%;
  margin: auto;
  background-color: darkgray;
}
#wapper{
  background-color: white;
}
#header{
  display: flex;
  height: 100px;
  text-align: center;
  background-color: black;
}
#header h1{
  font-size: 35px;
  margin: auto;
  width: max-content;
  color: white;
}
#navbar{
  height: 35px;
  display: flex;
  margin: 15px auto;
  text-align: center;
  background-color: black;
}
#navbar a{
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  text-decoration: none;
  width: 100%;
  color: white;
}

#navbar a:hover{
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid black;
}

#navbar-icon{
  height: 35px;
  display: none;
  margin: 15px auto;
  text-align: center;
  background-color: black;
}
#navbar-icon a{
  width: 25%;
  margin: auto;
}
#navbar-icon a i{
  font-size: 25px;
  width: 100%;
  color: white;
}
#navbar-icon a i:hover{
  color: black;
  background-color: white;
}
#content{
  text-align: center;
  width: 80%;
  margin: auto;
}
#content h3{
  font-size: 30px;
  margin-bottom: 10px;
}
#content .content-intro img{
  width: 30%;
}

.content-intro p, .content-bio p{
  text-align: justify;
  font-size: 18px;
  text-indent: 35px;
  margin: 10px 0;
}
.content-books h5{
  font-size: 20px;
  margin-bottom: 15px;
}
.row{
  display: flex;
  text-align: center;
  margin: 5px auto;
}
.book{
  margin: auto;
  width: 300px;
  margin: 5px auto;
}
.book-img img{
  height: 250px;
  margin: 5px auto;
  border: 1px solid black;
}
.book-name a{
  text-decoration: none;
  font-size: 18px;
  color: blue;
}
.book-name a:hover{
  font-weight: 600;
  color: red;
}
.ct428 h1{
  font-size: 35px;
  text-align: center;
  margin: 25px 0;
}
.ct428 table{
  border: 1px solid black;
  margin: auto;
  margin-bottom: 50px;
}
.ct428 table th{
  font-size: 22px;
  width: 300px;
  border: 1px solid black;
}
.ct428 table td{
  height: 150px;
  width: 300px;
  border: 1px solid black;
}
.ct428 table tr td a{
  color: black;
  display: block;
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
}
.ct428 table tr td a:hover{
  color: blue;
}
#footer{
  margin: auto;
  background-color: black;
  color: white;
}

#footer table{
  margin: auto;
}

#footer table th{
  font-size: 16px;
  border-bottom: 1px solid white;
}
#footer table td{
  font-size: 16px;
  margin: auto;
  display: flex;  
  border-bottom: 1px solid white;
}
#footer table tr td p{
  width: max-content;
  text-align: left;
  margin: 10px 30px;
}
#footer p{
  text-align: center;
}
#footer p a i{
  color: white;
}
#footer p a i:hover{
  color: blue;
}

.content-bio ,.content-books, .ct428{
  display: none;
}
@media screen and (max-width: 768px) {
  body{
    width: 100%;
  }
  #footer table tr td p{
    margin: 10px 10px;
  }#navbar{
    display: none;
  }
  #navbar-icon{
    display: flex;
  }
  #footer table td{
    display: block;
  }
  .row{
    display: block;
  }
  .ct428{
    width: 90%;
    margin: auto;
  }
  .ct428 h1{
    font-size: 25px;
  }
  .ct428 table tr th{
    font-size: 16px;
  }
  .ct428 table tr td a{
    font-size: 15px;
    height: max-content;
  }

}

